html, body {
    overflow: hidden;
}
body {
    background-color: black;
    cursor: default;
}
#clock {
    position:fixed;
    width: 10%;
    min-width:100px;
    bottom:1em;
    right:1em;
    opacity:0.3;
}
.text-orange {
    color:orangered;
}
.non-selectable {
   -moz-user-select: none; 
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none; 
}
.jumbo {
    margin-bottom: 0;
    background-color: transparent;
}
#fullscreen {
    position: absolute;
    top: 0;
    right: 0;
}
/* Descktop */
@media(min-width: 1400px) {
    #clock {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
}